{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui container">
        <h1 class="ui header">Tableau de bord Photographe</h1>



        {% if events is not empty %}
            {% for eventData in events %}
                {% set event = eventData.event %}
                {% set products = eventData.products %}

                <h2 class="ui header">{{ event.name }}</h2>

                <div class="ui stackable four column grid">
                    {% for product in products %}
                        <div class="column">
                            <div class="ui card">
                                {% if product.images|length > 0 %}
                                    <a href="{{ asset('media/image/' ~ product.images|first.path) }}" data-lightbox="event-{{ event.id }}" data-title="{{ product.name }}">
                                        <div class="image">
                                            <img src="{{ asset('media/image/' ~ product.images|first.path) }}" alt="{{ product.name }}">
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="image">
                                        <img src="https://via.placeholder.com/300x200?text=Aucune+image" alt="Aucune image disponible">
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <div class="header">{{ product.name }}</div>
                                    <!-- Ajoutez d'autres informations si nécessaire -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="ui message info">
                <p>Vous n'avez pas encore uploadé de photos.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
